body {
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  color: #abb2bf;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  width: 200%;
  max-width: 1200px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
  border-radius: 6px;
  overflow: hidden;
}

textarea {
  width: calc(100% - 60px);
  height: 20vh;
  padding: 10px;
  margin: 10px;
  border: 1px solid #4b5261;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  color: #abb2bf;
  background-color: #2e333e;
}

#preview {
  padding: 20px;
  background-color: #2e333e;
  border-top: 1px solid #4b5261;
  font-size: 16px;
  max-height: 60vh;
  height: 60vh;
  margin-top: 10px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  textarea {
    height: 40vh;
  }
}
